.about{
    color: #fff;
    &__background{
        background-repeat: no-repeat;
        background-size: cover;
        &__shadow{
            background: rgba(#06266F, 0.849);
            padding: 40px 20px 40px 20px;
        }
    }
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1100px;
        margin-left: 20px;
        margin-right: 20px;
        margin: 0 auto;
    }
    &__poster{
        margin-right: 35px;
        img{
            height: 500px;
            border-radius: 5px;
        }
    }
    &__info{
        &__header{
            display: flex;
            align-items: center;
            h1{
                font-family: 'Montserrat Regular';
                font-size: 40px;
                margin-right: 15px;
                span{
                    color: rgb(211, 200, 200);
                }
            }
        }
        h3{
            font-family: 'Roboto Regular';
            margin: 0;
            margin-bottom: 10px;
        }
        span{
            font-family: 'Lato-Light';
            margin-left: 10px;
            font-weight: normal;
        }
        p{
            font-family: 'Lato-Light';
            font-weight: normal;
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        &__showTrailer{
            cursor: pointer;
            font-weight: bold;
            &:hover{
                color: rgb(87, 78, 78);
                transition-duration: 0.5;
            }
        }
    }
    &__similar{
        text-align: center;
        h1{
            font-size: 45px;
            color: #000;
        }
        &__film{
            width: 200px !important;
            img{
                width: 200px;
            }
            h3{
                margin: 0;
                font-size: 20px;
                text-align: center;
                color: #000;
            }
        }
    }
}

.popup-content{
    background: none !important; 
    width: auto !important; 
    border: none !important; 
    padding: 0 !important;  
}
.slick-slider{
    max-width: 900px !important;
    margin: 0 auto !important;
}
