.filmcard{
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
    }
    &__inner{
        margin-top: 25px;
        flex-basis: 25%;
        a{
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: rgb(255,255,255);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        &__card{
        width: 200px;
        margin-top: 0;
        color: #000;
            &__poster{
                position: relative;
                img{
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                }
                span{
                    text-align: center;
                    width: 30px;
                    height: 20px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;
                    font-family: 'FiraSans-Regular';
                    background: #081C24;
                    position: absolute;
                    top: 10px;
                    left: -5px;
                }
            }
            &__title{
                text-align: center;
            }
        }
    }
}

.pagination{
    text-align: center;
    list-style: none;
    li{
        display: inline;
        color: #081C24;
        font-size: 15px;
        font-weight: bold;
        font-family: 'FiraSans-Regular';
        margin: 10px;
        border: 1px solid #081C24;
        border-radius: 1px;
        padding: 5px 10px 5px 10px;
        a{
            text-decoration: none;
            color: #081C24;
        }
    }
}

.active{
    color: #fff;
    background: #081C24;
}

.activelink{
    color: #fff !important;
}

