.header{
    background: linear-gradient(to top right, #0a1526, #064734);
    display: flex;
    align-items: center;
    height: 150px;
    .wrapper{
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
    }
    li{
        display: inline;

        img{
            height: 100px;
        }
        a{
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }
    }
}